  {%load  static %}
  <section class="w3l-call-to-action-6">
        <div class="container py-md-5 py-sm-4 py-5">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div class="left-content-call">
                    <h3 class="title-big">Visit Now!</h3>
                    <p class="text-white mt-1">Begin the change today</p>
                </div>
                <div class="right-content-call mt-sm-0 mt-4">
                    <ul class="buttons">
                        <li class="phone-sec me-lg-4"><i class="fas fa-phone-volume"></i>
                            <a class="call-style-w3" href="tel:+1(23) 456 789 0000"> {{ site_setting.phone_no }} </a>
                        </li>
                        <li><a href="{% url 'appointment' %}" class="btn btn-style btn-style-2 mt-lg-0 mt-3">Book Now</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
  <!-- footer -->
  <footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
            <div class="row footer-top-29">
                <div class="col-md-4 footer-list-29 pe-xl-5">
                    <h6 class="footer-title-29">Contact Info </h6>
                    <p class="mb-2 pe-xl-5">Address : {{ site_setting.address_line_1 }}
                    </p>
                    <p class="mb-2">Phone Number : <a href="tel:{{ site_setting.phone_no }}"> {{ site_setting.phone_no }} </a></p>
                    <p class="mb-2">Email : <a href="mailto:{{ site_setting.email }}"> {{ site_setting.email }} </a></p>
                </div>

                <div class="col-md-4 col-4 footer-list-29 mt-md-0 mt-4">
                    <ul>
                        <h6 class="footer-title-29">
                            Quick Links
                        </h6>
                        <li> <a href="{%  url 'about' %}"> About </a> </li>
                        <li><a href="{% url 'service' %}">Services</a></li>
                        <li><a href="{% url 'appointment' %}">Make An Appointment</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-4 footer-list-29 mt-md-0 mt-4">
                     <h6 class="footer-title-29">
                            Facebook Page
                     </h6>
                     <div class="fb-page" data-href="https://www.facebook.com/stha.cosmetics/" data-tabs="timeline" data-width="" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/stha.cosmetics/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/stha.cosmetics/">Shrestha Cosmetics</a></blockquote></div>
                </div>
            </div>
            <!-- copyright -->
            <p class="copy-footer-29 text-center pt-lg-2 mt-5 pb-2">© 2021 Dentition. All rights reserved. Design by
                <a href="{% url 'home' %}" target="_blank">
                    Kumar Subedi</a></p>
            <!-- //copyright -->
        </div>
    </div>
</footer>
<!-- //footer -->

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="{% static 'public/js/jquery-3.3.1.min.js' %}"></script>
<!-- //common jquery plugin -->
<script src="{% static 'public/js/jquery.min.js' %}"></script>
<script src="{% static 'public/js/modernizr-2.6.2.min.js' %}"></script>
<script src="{% static 'public/js/jquery.zoomslider.min.js' %}"></script>
<!-- for services carousel slider -->
<script src="{% static 'public/js/owl.carousel.js' %}"></script>
<script>
    $(document).ready(function () {
            $('.owl-testimonial').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    $(document).ready(function () {
        $('.owl-three').owlCarousel({
            loop: true,
            stagePadding: 20,
            margin: 20,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                991: {
                    items: 3
                },
                1200: {
                    items: 4
                }
            }
        })
    })
</script>
<script src="{% static 'public/js/theme-change.js' %}"></script>
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });

    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
    
</script>
<script src="{% static 'public/js/bootstrap.min.js' %}"></script>
</body>
</html>