{% include "layouts/header.html" %}
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{% url 'home' %}">
                <i class="fas fa-tooth"></i> {{ site_setting.name }}
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto me-2 my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %} active {% endif %}"  aria-current="page" href="{% url 'home' %}">Home</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/about' %} active {% endif %}" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/service' %} active {% endif %}" href="{% url 'service' %}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/blogs' or 'blog-detail' in request.path  %} active {% endif %}" href="{% url 'blogs' %}">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/contact' %} active {% endif %}" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/appointment' %} active {% endif %}" href="{% url 'appointment' %}">Make An Appointment</a>
                    </li>
                </ul>
                <!-- <form action="#error" method="GET" class="d-flex search-header">
                    <input class="form-control" type="search" placeholder="Enter Keyword..." aria-label="Search"
                        required>
                    <button class="btn btn-style" type="submit"><i class="fas fa-search"></i></button>
                </form> -->
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!-- //header -->
{% block body %}
{% endblock %}
{% include 'layouts/footer.html' %}