{% extends 'adminlte/lib/_main_header.html' %}
{% load adminlte_helpers i18n %}

{% block header_dropdowns %}
{% block user_info %}
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                  <img src="{%avatar_url 128 %}" class="user-image img-circle elevation-2" alt="User Image">
                  <span class="d-none d-md-inline">{% firstof request.user.get_short_name request.user.get_username %}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                  <!-- User image -->
                  <li class="user-header bg-primary">
                    <img src="{%avatar_url size=160 %}" class="img-circle elevation-2" alt="User Image">
        
                    <p>
                        {% firstof request.user.get_short_name request.user.get_username %} - {% firstof request.user.get_role %}
                      <small>Member since : {{ request.user.date_joined }}</small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <a href="{% block change_password_url %}{% url 'admin:password_change' %}{% endblock %}" class="btn btn-default btn-flat">{% trans 'Change Password'%}</a>
                    <a href="{% block logout_url %} {% url 'admin:logout' %} {% endblock %}" class="btn btn-default btn-flat float-right">{% trans 'Sign Out'%}</a>
                  </li>
                </ul>
              </li>
            {% endif %}
            {% endblock user_info %}

{% endblock header_dropdowns %}


