{% extends 'layouts/layout.html' %}
{% load static %}
{% block body %}
    <!-- error page -->
    <div class="w3l-error-main py-5">
        <div class="container">
            <div class="sub-wthreess text-center">
                <i class="fas fa-sad-cry"></i>
                <h3 class="text-err-wthree text-white">Aww...! Don't Cry</h3>
                <h4 class="text-white">It's a Just 404 Error Page</h4>
                <p class="text-light">This page you are looking for might have been removed<br> had its name changed or
                    temporarly
                    unavailable.
                </p>
                <a href="index.html" class="btn btn-style btn-style-2 mt-5">Go to Home</a>
            </div>
        </div>
    </div>
    <!-- //error page -->
{% endblock %}