{% extends 'layouts/layout.html' %}
{% load static %}
{% block body %}
<!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-4 pb-sm-4">
                <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">About Us</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>About</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <!-- aboutblock1 section -->
    <section class="w3l-homeblock1 py-5" id="about">
        <div class="container py-md-5 py-4">
            <div class="row align-items-center">
                <div class="col-lg-6 pe-xl-5">
                    <h3 class="title-style mb-3"> {{ welcome_message.title }} </h3>
                    {{ welcome_message.description.html | safe }}

                </div>
                <div class="col-lg-6 homeaboutblock mt-lg-0 mt-5">
                    <img src="{{ welcome_message.image.url }}" class="img-fluid radius-image" alt="{{ welcome_message.title }}">
                </div>
            </div>
        </div>
    </section>
    <!-- //aboutblock1 section -->

    <!-- team section -->
    <section class="w3l-team py-5">
        <div class="container py-md-5 py-4">
            <h3 class="title-style text-center mb-5">Meet Our <span>Doctors</span></h3>
            <div class="row text-center">
                {% for doctor in doctors %}
                    {% if  forloop.first %}
                        <div class="col-lg-3 col-sm-6">
                            <div class="team-block-single">
                                <div class="team-grids">
                                    <a href="#team-single">
                                        <img src="{{ doctor.image.url }}" class="img-fluid" alt="{{ doctor.name }}">
                                        <div class="team-info">
                                            <div class="social-icons-section">
                                                {% if doctor.fb_link %}
                                                    <a class="fac" href="{{ doctor.fb_link }}" target="_blank">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                {% endif %}

                                                {% if doctor.twitter_link %}
                                                    <a class="twitter mx-2" href="{{ doctor.twitter_link }}">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                {% endif %}

                                                {% if doctor.instagram_link %}
                                                    <a class="google" href="{{ doctor.instagram_link }}">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                {% endif %}

                                                {% if doctor.tiktok_link %}
                                                    <a class="google" href="{{ doctor.tiktok_link }}">
                                                        <i class="fab fa-tiktok"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="team-bottom-block p-4">
                                    <h5 class="member mb-1"><a href="#team">{{ doctor.name }}</a></h5>
                                    <small>{{ doctor.speciality }}</small>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                            <div class="team-block-single">
                                <div class="team-grids">
                                    <a href="#team-single">
                                        <img src="{{ doctor.image.url }}" class="img-fluid" alt="{{ doctor.name }}">
                                        <div class="team-info">
                                            <div class="social-icons-section">
                                                {% if doctor.fb_link %}
                                                    <a class="fac" href="{{ doctor.fb_link }}" target="_blank">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </a>
                                                {% endif %}

                                                {% if doctor.twitter_link %}
                                                    <a class="twitter mx-2" href="{{ doctor.twitter_link }}">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                {% endif %}

                                                {% if doctor.instagram_link %}
                                                    <a class="google" href="{{ doctor.instagram_link }}">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                {% endif %}

                                                {% if doctor.tiktok_link %}
                                                    <a class="google" href="{{ doctor.tiktok_link }}">
                                                        <i class="fab fa-tiktok"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="team-bottom-block p-4">
                                    <h5 class="member mb-1"><a href="#team">{{ doctor.name }}</a></h5>
                                    <small>{{ doctor.speciality }}</small>
                                </div>
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- //team setion -->

    <!-- testimonials section -->
    <section class="w3l-testimonials pb-5" id="testimonials">
        <div class="container py-md-5 py-4">
            <h3 class="title-style text-center mb-5">What Our <span>Patients</span> Say!</h3>
            <div class="owl-testimonial owl-carousel owl-theme mx-auto" style="max-width:1000px">
                {% for testimonial in testimonials %}
                <div class="item">
                    <div class="slider-info">
                        <div class="img-circle">
                            <img src="{{ testimonial.photo.url }}" class="img-fluid rounded" alt="{{ testimonial.name }}">
                        </div>
                        <div class="message-info">
                            <span class="fa fa-quote-left mr-2"></span>
                            <div class="message">{{ testimonial.content }}</div>
                            <div class="name">{{ testimonial.name }} </div>
                            <div class="desp ms-2">{{ testimonial.profession }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock  %}