{% extends 'layouts/layout.html' %}
{% load static %}
{% block body %}
<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">Appointment</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{ url 'home' }">Home</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>Appointment</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->


</div>
<!-- form & play icon section -->
<section class="w3l-content-sec py-5">
    <div class="container py-md-5 py-4">
        <div class="form-content ml-sm-left mx-auto">
            <h3 class="title-style text-center mb-5">Make an <span>Appointment</span></h3>
            {% for msg in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                   {{ msg }}
                </div>
            {% endfor %}

            <form action="{% url 'appointment' %}" method="post">
                {% csrf_token %}
                 <div class="row mb-1">
                    <div class="col-md-6 mb-4">
                        <label for="inputtextname" class="form-label">Your Name</label>
                        <input type="text" name="name" id="inputtextname" placeholder="Full Name" required="">
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="inputtextnumber" class="form-label">Your Phone Number</label>
                        <input type="number" name="phone" id="inputtextnumber" placeholder="Contact Number"
                            required="">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-6 mb-4">
                        <label for="inputtextnumber" class="form-label">Your Available Services</label>
                        <select class="form-select" name="available_service" aria-label="Default select example">
                            <option selected>Select</option>
                            {% for i in available_services %}
                                <option value="{{ i.0 }}">{{ i.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="inputtextnumber" class="form-label">Select Doctor</label>
                        <select class="form-select" name="doctor" aria-label="Default select example">
                            <option selected>Select</option>
                            {% for doctor in doctors %}
                                <option value="{{ doctor.0 }}"> 
                                    {{ doctor.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="inputtextnumber" class="form-label">Select Date</label>
                        <input type="date" name="appointment_date" id="dateofbirth" required="">
                    </div>
                    <div class="col-md-6 mb-4">
                        <label for="inputtextnumber" class="form-label">Select Time</label>
                        <input type="time" name="appointment_time" id="dateofbirth1" required="">
                    </div>
                </div> 

                <div class="text-end">
                    <button class="btn btn-style mt-sm-3" type="submit">Book Appointment</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}