{% extends 'layouts/layout.html' %}
{% load static %}
{% block body %}
   <!-- inner banner -->
   <section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4"> {{ blog.title }} </h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li> <i class="fas fa-angle-right mx-2"></i>
                    <a href="{% url 'blogs' %}">Blogs</a></li>
                <li class="active">
                    <i class="fas fa-angle-right mx-2"></i>
                    {{ blog.title }}
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->


</div>
<!-- single post -->
<section class="blog-post-main">
    <div class="blog-content-inf py-5">
        <div class="container py-md-5 py-4">
            <div class="blog-posthny-info mx-auto" style="max-width:800px">
                <div class="style-title position-relative">
                    <h3 class="title-style mb-sm-3 mb-2"><span> {{ blog.title }} </span></h3>
                </div>
                <div class="single-post-image mb-4">
                    <ul class="blog-author-date mt-3 d-flex align-items-center mb-4">
                        <li class="circle avatar"><img src="{% static 'public/images/team2.jpg' %}" class="img-fluid" alt="{{ blog.title }}"></li>
                        <li>By <a href="#URL">Admin</a></li>
                        <li> {{ blog.published_at | date:'M d, Y' }} </li>
                    </ul>
                    <img src="{{ blog.image.url }}" class="img-fluid radius-image" alt="{{ blog.title }}" />
                </div>

                <div class="single-post-content">
                    {{ blog.description.html | safe }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //single post -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

</div>
{% endblock %}