{% extends 'layouts/layout.html' %}
{% load static %}
{% block body %}
<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">Blog Posts</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active"><i class="fas fa-angle-right mx-2"></i>Blog Posts</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

<div style="margin: 8px auto; display: block; text-align:center;">
</div>
<!-- blog section -->
<div class="w3l-homeblock2 py-5">
    <div class="container py-md-5 py-4">
        <h3 class="title-style text-center mb-5">Latest <span>Blog</span> Posts</h3>
        <div class="row">
            {% for blog in page_obj %}
            {% if forloop.first %}
                 <div class="col-lg-6">
                    <div class="bg-clr-white hover-box">
                        <div class="row align-items-center">
                            <div class="col-sm-6 position-relative">
                                <a href="{{ blog.get_absolute_url }}">
                                    <img class="img-fluid d-block" src="{{ blog.thumbnail.url }}" alt="{{ blog.title }}">
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <div class="card-body blog-details align-self pl-sm-0">
                                    <a href="{{ blog.get_absolute_url }}" class="blog-desc">{{ blog.title }} <br>
                                    </a>
                                     {{ blog.description.plain | truncatewords_html:30  }}
                                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                                        <h5 class="text-blog-e"> {{ blog.published_at | date:'M d, Y' }} </h5>
                                        <a href="{{ blog.get_absolute_url }}" class="blog-icon-e"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-6 mt-lg-0 mt-4">
                        <div class="bg-clr-white hover-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6 position-relative">
                                    <a href="{{ blog.get_absolute_url }}">
                                        <img class="img-fluid d-block" src="{{ blog.thumbnail.url }}" alt="{{ blog.title }}">
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card-body blog-details align-self pl-sm-0">
                                        <a href="{{ blog.get_absolute_url }}" class="blog-desc"> {{ blog.title }} </a> <br>
                                        {{ blog.description.plain | truncatewords_html:30 }}
                                        <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                                            <h5 class="text-blog-e"> {{ blog.published_at | date:'M d, Y' }} </h5>
                                            <a href="{{ blog.get_absolute_url }}" class="blog-icon-e"><i class="fas fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- pagination -->
        {% if page_obj.paginator.num_pages > 1  %}
            <div class="pagination-style mt-5 text-center">
                <ul>

                    <li> <a
                            {% if page_obj.has_previous %}
                                href="?page={{ page_obj.previous_page_number }}"
                            {% else %}
                                href="#none"
                                class="not-allowed" disabled
                            {% endif %}>
                            <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                        </a>
                    </li>

                    {% for page in page_obj.paginator.page_range %}
                        <li><a {% if page == page_number %} class="active" {% endif %} href="?page={{ page }}"> {{ page }} </a></li>
                    {% endfor %}

                    <li>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            </a>
                        {% else %}
                            <a href="#none" class="not-allowed" disabled><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                    </li>

                </ul>
            </div>
        {% endif %}
        <!-- //pagination -->
    </div>
</div>
{% endblock %}