{% extends 'layouts/layout.html' %}
{% block body %}
  <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-4 pb-sm-4">
                <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">Contact Us</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Contact</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->

    <!-- contact section -->
    <section class="w3l-contact-11 py-5" id="contact">
        <div class="container py-md-5 py-4">
            <h3 class="title-style text-center mb-5"><span>Contact </span> Us</h3>
            <div class="row text-center mb-5 pb-lg-5 pb-sm-4">
                <div class="col-lg-3 col-sm-6 contact-info">
                    <i class="fas fa-map-marked-alt"></i>
                    <h4>Location</h4>
                    <p> {{ site_setting.address_line_1 }} </p>
                </div>
                <div class="col-lg-3 col-sm-6 contact-info mt-md-0 mt-4">
                    <i class="fas fa-headset"></i>
                    <h4>Phone</h4>
                    <p><a href="tel:{{ site_setting.phone_no }}"> {{ site_setting.phone_no }} </a></p>
                </div>
                <div class="col-lg-3 col-sm-6 contact-info mt-lg-0 mt-4">
                    <i class="fas fa-envelope-open-text"></i>
                    <h4>Email</h4>
                    <p><a href="mailto:{{ site_setting.email }}" class="email"> {{ site_setting.email }} </a></p>
                </div>
                <div class="col-lg-3 col-sm-6 contact-info mt-lg-0 mt-4">
                    <i class="fas fa-user-clock"></i>
                    <h4>Working Hours</h4>
                    <p> {{ site_setting.working_hour }} </p>
                </div>
            </div>
            <div class="form-inner-cont mx-auto" style="max-width:800px">
                {% for msg in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                       {{ msg }}
                    </div>
                {% endfor %}
                <form action="{% url 'contact' %}" method="post" class="signin-form">
                    <div class="row align-form-map">
                        <div class="col-sm-6 form-input">
                            <input type="text"  id="w3lName" name="name" placeholder="Name" required/>
                        </div>
                        <div class="col-sm-6 form-input">
                            <input type="email" name="email" id="w3lSender"  placeholder="Email" required />
                        </div>
                        <div class="col-sm-6 form-input">
                            <input type="text" name="subject" placeholder="Subject" class="contact-input" required>
                        </div>
                        <div class="col-sm-6 form-input">
                            <input type="number" name="phone_no" placeholder="Phone Number" class="contact-input" required>
                        </div>
                    </div>
                    <div class="form-input">
                        <textarea placeholder="Message" name="message" id="w3lMessage"></textarea>
                    </div>
                    <div class="submit text-right">
                        <button type="submit" class="btn btn-style">Submit
                            Message</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- map -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69319292053!2d-0.3817765050863085!3d51.528307984912544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2spl!4v1562654563739!5m2!1sen!2spl"
            width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
    </div>
    <!-- //contact section -->
{% endblock %}