 {% extends 'layouts/layout.html' %}
 {% load static  %}
 {% block body %}

 {% if banners.count %}
 <section class="w3l-main-slider" id="home">
     <div class="banner-content">
         <div id="demo-1"
              data-zs-src='[
                    {% for x in banners %}
                     "{{ x.banner_image.url }}" {% if not forloop.last %} , {% endif %}
                    {% endfor %}
                 ]'
              data-zs-overlay="dots"
         >
             <div class="demo-inner-content">
                 <div class="container">
                     <div class="banner-info">
                            <p class="mb-1">{{ banners.0.main_title }}</p>
                            <h3>{{ banners.0.small_text_title }} 11</h3>
                            <a class="btn btn-style btn-style-2 mt-sm-5 mt-4" href="{% url 'appointment' %}">Book Now</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 {% endif %}
    <!-- //banner section -->

    <!-- home block 1 -->
 <section class="w3l-servicesblock py-5">
     <div class="container py-md-5 py-4">
         <div class="row pb-xl-5 align-items-center">

             <div class="col-lg-6 position-relative home-block-3-left pb-lg-0 pb-5">
                 <div class="position-relative">
                     <img src="{{ welcome_message.image.url }}" alt="{{ welcome_message.title }}"
                          class="img-fluid radius-image">
                 </div>

                 <div class="imginfo__box">
                     <h6 class="imginfo__title"> {{ welcome_message.box_text_title }} </h6>
                     <p> {{ welcome_message.box_text_description }} </p>
                     <a href="tel:{{ welcome_message.phone_number }}"><i class="fas fa-phone-alt"></i> {{ welcome_message.phone_number }} </a>
                 </div>
             </div>

             <div class="col-xl-5 col-lg-6 offset-xl-1 mt-lg-0 mt-5 pt-lg-0 pt-5">
                 <h3 class="title-style mb-md-5 mb-4">
                     {{ welcome_message.title }}
                 </h3>
                 <p> {{ welcome_message.description.html | safe }} </p>
             </div>
         </div>
     </div>
 </section>
    <!-- //home block 1 -->

    <!-- home block 2 -->
 <section class="about-section text-center pt-lg-5 pb-5">
        <div class="container pt-lg-5 pb-lg-5 pb-4">
            <h3 class="title-style text-center mb-5">Healthy Smiles <span>Everyday!</span></h3>
            <div class="row justify-content-center">
                {% for smile in healthy_smiles_everyday %}
                <div class="col-lg-4 col-md-6">
                    <div class="about-single p-3">
                        <div class="about-icon mb-4">
                            <i class="{{ smile.icon }}"></i>
                        </div>
                        <div class="about-content">
                            <h5 class="mb-3"> {{ smile.name }} </h5>
                            <p> {{ smile.description }}  </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- //home block 2 -->

    <!-- home block 3 with slider -->
 <section class="w3l-index5 py-5">
     <div class="container py-md-5 py-4">
         <h3 class="title-style text-center mb-5">Our Best <span>Services</span></h3>
         <div class="inner-sec-w3layouts mt-md-5 mt-4">
             <div class="owl-three owl-carousel owl-theme">
                 {% for service in services %}
                 <div class="item">
                     <div class="content-left-sec">
                         <a class="blog-link d-block zoom-image" href="{{ service.get_absolute_url }}">
                             {% if service.thumbnail %}
                             <img src="{{ service.thumbnail.url }}"
                                  class="img-fluid scale-image" alt="{{ service.title  }}">
                             {% endif %}
                         </a>
                         <div class="blog-info">
                             <a href="{{ service.get_absolute_url }}">
                                 <h4 class="mb-0">
                                     {{ service.title }}
                                 </h4>
                             </a>
                             <p>
                                 {{ service.description.plain | truncatewords_html:25 }}
                             </p>
                             <a href="{{ service.get_absolute_url }}" class="btn btn-style-primary">Learn More<i
                                     class="fas fa-arrow-right"></i></a>
                         </div>
                     </div>
                 </div>
                 {% endfor %}
             </div>
         </div>
     </div>
 </section>
    <!-- //home block 3 with slider -->

    <!-- stats section -->
 <section class="w3-bottom-stats py-5">
     <div class="container py-md-5 py-4">
         <div class="row py-4">
             <div class="col-md-7 pe-lg-5">
                 <h5 class="text-new mb-4"> {{ counter_block.title }}
                 </h5>
                 <p>
                     {{ counter_block.description }}
                 </p>

             </div>
             <div class="col-md-5 text-md-center mt-md-0 mt-5">
                 <div class="counter">
                     <div class="timer count-title count-number" data-to="6370" data-speed="1500">
                         {{ counter_block.counter_title1_count }}
                     </div>
                     <p class="count-text mt-sm-2"> {{ counter_block.counter_title1 }} </p>
                 </div>
                 <div class="counter mt-sm-5 mt-4">
                     <div class="timer count-title count-number" data-to="36" data-speed="1500">
                        {{ counter_block.counter_title2_count }}
                     </div>
                     <p class="count-text mt-sm-2"> {{ counter_block.counter_title2 }} </p>
                 </div>
                 <div class="counter mt-sm-5 mt-4">
                     <div class="timer count-title count-number" data-to="7600" data-speed="1500">
                        {{ counter_block.counter_title3_count }}
                     </div>
                     <p class="count-text mt-sm-2"> {{ counter_block.counter_title3 }} </p>
                 </div>
             </div>
         </div>
     </div>
 </section>
    <!-- //stats section -->

    <!-- team section -->
 <section class="w3l-team py-5">
     <div class="container py-md-5 py-4">
         <h3 class="title-style text-center mb-5">Meet Our <span>Doctors</span></h3>
         <div class="row text-center">
             {% for doctor in doctors %}
             <div class="col-lg-3 col-sm-6">
                 <div class="team-block-single">
                     <div class="team-grids">
                         <a href="#team-single">
                             <img src="{{ doctor.image.url }}" class="img-fluid" alt="{{ doctor.name }}">
                             <div class="team-info">
                                 <div class="social-icons-section">
                                     {% if doctor.fb_link %}
                                     <a class="fac" href="{{ doctor.fb_link }}" target="_blank">
                                         <i class="fab fa-facebook-f"></i>
                                     </a>
                                     {% endif %}

                                     {% if doctor.twitter_link %}
                                     <a class="twitter mx-2" href="{{ doctor.twitter_link }}">
                                         <i class="fab fa-twitter"></i>
                                     </a>
                                     {% endif %}

                                     {% if doctor.instagram_link %}
                                     <a class="google" href="{{ doctor.instagram_link }}">
                                         <i class="fab fa-instagram"></i>
                                     </a>
                                     {% endif %}

                                     {% if doctor.tiktok_link %}
                                     <a class="google" href="{{ doctor.tiktok_link }}">
                                         <i class="fab fa-tiktok"></i>
                                     </a>
                                     {% endif %}
                                 </div>
                             </div>
                         </a>
                     </div>
                     <div class="team-bottom-block p-4">
                         <h5 class="member mb-1"><a href="#team">{{ doctor.name }}</a></h5>
                         <small>{{ doctor.speciality }}</small>
                     </div>
                 </div>
             </div>
             {% endfor %}
         </div>
     </div>
 </section>
    <!-- //team setion -->

 <section class="w3-bottom-stats py-5 no-background">
     <div class="container py-md-5 py-4">
         <h5 class="text-new mb-4 text-center"> Frequently Asked Questions </h5>
     </div>
     <div class='faq'>
         {% for faq in faqs %}
         <input id='faq-{{ forloop.counter }}' type='checkbox'>
         <label for='faq-{{ forloop.counter }}'>
             <p class="faq-heading">{{ faq.question }}</p>
             <div class='faq-arrow'></div>
             <br/><br>
             <p class="faq-text"> {{ faq.answer.plain }} </p>
         </label>
         {% endfor %}
     </div>
 </section>

    <!-- blog section -->
 <div class="w3l-homeblock2 py-5">
     <div class="container py-md-5 py-4">
         <h3 class="title-style text-center mb-5">Latest <span>Blog</span> Posts</h3>
         <div class="row">
             {% for blog in blogs %}
             <div class="col-lg-6">
                 <div class="bg-clr-white hover-box">
                     <div class="row align-items-center">
                         <div class="col-sm-6 position-relative">
                             <a href="{{ blog.get_absolute_url }}">
                                 <img class="img-fluid d-block" src="{{ blog.thumbnail.url  }}"
                                      alt=" {{ blog.title }} ">
                             </a>
                         </div>
                         <div class="col-sm-6">
                             <div class="card-body blog-details align-self pl-sm-0">
                                 <a href="{{ blog.get_absolute_url }}" class="blog-desc"> {{ blog.title }}
                                 </a>
                                 <p> {{ blog.description.plain | truncatewords_html:30 }} </p>
                                 <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                                     <h5 class="text-blog-e"> {{ blog.published_at | date:"M d, Y" }} </h5>
                                     <a href="{{ blog.get_absolute_url }}" class="blog-icon-e"><i
                                             class="fas fa-plus"></i></a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             {% endfor %}
         </div>
     </div>
 </div>
   {% endblock %}