{% extends 'layouts/layout.html' %}
{% load static  %}
{% block body %}
     <!-- inner banner -->
    <section class="inner-banner py-5">
        <div class="w3l-breadcrumb py-lg-5">
            <div class="container pt-4 pb-sm-4">
                <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4">Our Services</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active"><i class="fas fa-angle-right mx-2"></i>Services</li>
                </ul>
            </div>
        </div>
    </section>

    <div class="service-section py-5">
        <div class="container py-md-5 py-4">
            <h3 class="title-style text-center mb-sm-5 mb-4">Our <span>Services</span></h3>
            <div class="row justify-content-center">
                {% for service in services %}
                    <div class="col-lg-3 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative border-0">
                            {% if service.thumbnail %}
                                <a href="{{ service.get_absolute_url }}">
                                    <img class="d-block img-responsive" src="{{ service.thumbnail.url }}" alt="{{ service.title }}">
                                </a>
                            {% endif %}
                        </div>
                        <div class="card-body service-details">
                            <h4  class="service-heading">
                                <a href="{{ service.get_absolute_url }}">
                                    {{ service.title }}
                                </a>
                            </h4 >
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}