{% extends 'layouts/layout.html' %}
{% load static %}
{% block body %}
   <!-- inner banner -->
   <section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title font-weight-bold pt-sm-5 pt-4"> {{ service.title }} </h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li> <i class="fas fa-angle-right mx-2"></i>
                    <a href="{% url 'service' %}">Services</a></li>
                <li class="active">
                    <i class="fas fa-angle-right mx-2"></i>
                    {{ service.title }}
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->


</div>
<!-- single post -->
<section class="blog-post-main">
    <div class="blog-content-inf py-5">
        <div class="container py-md-5 py-4">
            <div class="blog-posthny-info mx-auto" style="max-width:800px">
                <div class="style-title position-relative">
                    <h3 class="title-style mb-sm-3 mb-2"><span> {{ service.title }} </span></h3>
                </div>
                    {% if service.image %}
                    <div class="single-post-image mb-4">
                        <img src="{{ service.image.url }}" class="img-fluid radius-image" alt="{{ service.title }}" />
                    </div>
                    {% endif %}
                <div class="single-post-content">
                    {{ service.description.html | safe }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //single post -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

</div>
{% endblock %}